<?xml version="1.0"?>
<!--
 Copyright 2020 Carnegie Mellon University

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->
<robot name="cabot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="extended" default="0" />
  <xacro:arg name="offset" default="0" />

  <xacro:include filename="$(find cabot_description)/urdf/cabot-f_description.urdf" />
  <xacro:include filename="$(find cabot_description)/urdf/sensors/hokuyo_ust_20lx.urdf.xacro"/>
  <xacro:include filename="$(find cabot_description)/urdf/sensors/zed.urdf.xacro"/>

  <link name="lidar_link">
  </link>
  <joint name="lidar_base" type="fixed">
    <origin xyz="0.25 0.0 0.10" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
  </joint>
  <link name="camera_link">
  </link>
  <joint name="camera_base" type="fixed">
    <origin xyz="0.025 0.0 0.77" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <cabot offset="$(arg offset)"/>
  <xacro:unless value="$(arg extended)">
    <sensor_hokuyo_ust_20lx parent="lidar_link"/>
  </xacro:unless>
  <xacro:if value="$(arg extended)">
    <sensor_hokuyo_ust_20lx parent="lidar_link" sample="1440" min_angle="-3.5" max_angle="2.2" />
  </xacro:if>
  <sensor_zed parent="camera_link"/>
</robot>
