KERNEL=="tty*",MODE="0666"
ACTION=="add", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", SYMLINK+="ttyROBOCLAW"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="ttyCABOT"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyTBOT"
ACTION=="add", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ttyVIB1"
ACTION=="add", ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0003", SYMLINK+="ttyXSENS"
ACTION=="add", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0d[0-9][0-9]", SYMLINK+="ttyODRIVE"
ACTION=="add", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", SYMLINK+="ttyARDUINO_MEGA"
ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="ttyESP32"
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="0d3[0-9]", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", MODE="0666"
