[Unit]
Description = CaBot System
After = default.target docker.service

[Service]
ExecStart = /opt/cabot/launch.sh -c jetson-rs3-framos
KillSignal = SIGINT
Restart = no
WorkingDirectory = /opt/cabot
Type = simple
Environment="ROS_DISTRO=%ROS_DISTRO%"

[Install]
WantedBy = default.target
