<?xml version="1.0"?>

<!--
 Copyright (c) 2020  Carnegie Mellon University

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->
<launch>
  <arg name="world_file" default="/usr/share/gazebo-9/worlds/actor.world"/>
  <arg name="gui" default="true"/>
  <arg name="gazebo_odom_name" default="odom"/>  
  <arg name="publish_tf" default="0"/>
  <arg name="extended" default="0"/>
  <arg name="offset" default="0"/>
  <arg name="robot" default="cabot" />
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_z" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="use_tf_static" default="true"/>
  <arg name="enable_touch" default="false"/>
  <arg name="touch_params" default="[128,48,24]"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <arg name="urdf_file" default="$(find xacro)/xacro
				 '$(find cabot_description)/robots/$(arg robot).urdf.xacro'
				 extended:=$(arg extended) offset:=$(arg offset)"/>
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="spawn_cabot_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z $(arg initial_pose_z) -Y $(arg initial_pose_a)
	      -unpause -urdf -param robot_description -model mobile_base"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
    <param name="use_tf_static" type="boolean" value="$(arg use_tf_static)" />
  </node>

  <include file="$(find cabot_gazebo)/launch/includes/$(arg robot).launch.xml">
    <arg name="offset" value="$(arg offset)" />
    <arg name="output" value="log" />	
    <arg name="enable_touch" value="$(arg enable_touch)" />
    <arg name="touch_params" value="$(arg touch_params)" />
  </include>
</launch>
