<!--
 Copyright (c) 2021  IBM Corporation

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for a VLP-16 -->

<launch>
  <arg name="scan" default="/velodyne_scan" />
  
  <!-- declare arguments with default values -->
  <arg name="calibration" default="$(find-pkg-share velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="frame_id" default="velodyne" />
  <arg name="manager" default="$(var frame_id)_nodelet_manager" />
  <arg name="max_range" default="130.0" />
  <arg name="min_range" default="0.0" />
  <arg name="laserscan_ring" default="-1" />
  <arg name="laserscan_resolution" default="0.007" />

  <!-- start cloud nodelet -->
  <include file="$(find-pkg-share velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(var calibration)"/>
    <arg name="manager" value="$(var manager)" />
    <arg name="max_range" value="$(var max_range)"/>
    <arg name="min_range" value="$(var min_range)"/>s
  </include>

  <!-- start laserscan nodelet -->
  <arg name="ring" default="$(var laserscan_ring)"/>
  <arg name="resolution" default="$(var laserscan_resolution)"/>
  <node pkg="velodyne_laserscan" exec="laser_scan_node" name="$(var manager)_laserscan">
    <param name="ring" value="$(var laserscan_ring)"/>
    <param name="resolution" value="$(var laserscan_resolution)"/>
    <remap from="/scan" to="$(var scan)"/>
  </node>

</launch>
