<!--
 Copyright (c) 2021  IBM Corporation

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<launch>
  <arg name="queue_annotation_list_file" default="$(find queue_people_py)/annotation/cabot_site_coredo/COREDO-MUJI-202002/coredo_muji_202002_queue_list.yaml" />
  <arg name="debug_without_mf_localization" default="false" />
  <arg name="debug_queue_annotation_map_frame" default="" />

  <rosparam ns="queue_people_py" command="load" file="$(find queue_people_py)/params/queue_detector.yaml" />
 
  <param name="queue_people_py/queue_annotation_list_file" value="$(arg queue_annotation_list_file)" />
  <param name="queue_people_py/debug_without_mf_localization" value="$(arg debug_without_mf_localization)" />
  <param name="queue_people_py/debug_queue_annotation_map_frame" value="$(arg debug_queue_annotation_map_frame)" />
  
  <node name="detect_queue_people_py" pkg="queue_people_py" type="detect_queue_people.py" output="log">
  </node>
</launch>
