<!--
 Copyright (c) 2020  Carnegie Mellon University

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<launch>
  <arg name="output" default="log"/>
  <arg name="db_path" />
  <arg name="init_speed" default=""/>
  <arg name="config_user" value="cabot"/>
  <arg name="anchor_file" default=""/>
  <arg name="language" default="en"/>
  <arg name="site" default=""/>
  <arg name="global_map_name" default="map" />
  <arg name="plan_topic" default="/plan" />
  <arg name="use_tts" default="true" />
  <arg name="use_ble" default="false" />
  <arg name="ble_team" default="" />
  <arg name="ble_adapter" default="hci0"/>
  <arg name="show_topology" default="false"/>

  <include file="$(find mongodb_store)/launch/mongodb_store.launch">
    <arg name="db_path" value="$(arg db_path)"/>
  </include>

  <group ns="cabot">
    <rosparam file="$(eval find(site)+'/config/config.yaml')" command="load"/>

    <node pkg="cabot_ui" type="tts_node.py" if="$(arg use_tts)"
	  name="cabot_tts_node" output="$(arg output)">
    </node>
    <node pkg="cabot_ui" type="cabot_ble.py" if="$(arg use_ble)"
	  name="cabot_ble_node" output="$(arg output)">
      <param name="team" value="$(arg ble_team)"/>
      <param name="adapter" value="$(arg ble_adapter)"/>
	</node>

    
    <node pkg="cabot_ui" type="cabot_ui_manager.py"
	  name="cabot_ui_manager"
	  output="$(arg output)">
      <rosparam file="$(find cabot_ui)/menu/menu.yaml" command="load"/>
      <rosparam file="$(eval find(site)+'/menu/destination.yaml')" command="load"/>

      <param name="config_user" value="$(arg config_user)"/>
      <param name="init_speed" value="$(arg init_speed)"/>
      <param name="anchor_file" value="$(arg anchor_file)" />
      <param name="language" value="$(arg language)" />
      <param name="site" value="$(arg site)" />
      <param name="global_map_name" value="$(arg global_map_name)" />
      <param name="plan_topic" value="$(arg plan_topic)" />
    </node>


    <node pkg="cabot_ui" type="navcog_map.py" if="$(arg show_topology)"
	  name="navcog_map" output="$(arg output)">
      <param name="anchor_file" value="$(arg anchor_file)" />
    </node>
  </group>

  <!-- integrated into cabot_ui
  <node pkg="cabot_ui" type="navcognode.py"
	name="cabot_ui" output="$(arg output)">
    <param name="anchor_file" value="$(arg anchor_file)" />
    </node>
    -->

</launch>
