<!--
 Copyright (c) 2020 Carnegie Mellon University

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="gamepad" default="gamepad" />
  <arg name="config_filepath" default="$(find cabot)/config/gamepad.config.yaml" />
  
  <!-- remap joy topic if necessary-->
  <arg name="remap_joy" value="$(eval gamepad!='gamepad')"/>
  <arg name="remap_filepath" value="$(find cabot)/config/$(arg gamepad).remap.yaml" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="joy_orig" if="$(arg remap_joy)"/>
  </node>

  <!-- run joy_remap node only if neccessary -->
  <node name="joy_remap" pkg="joy" type="joy_remap.py" if="$(arg remap_joy)">
    <remap from="joy_in" to="joy_orig"/>
    <remap from="joy_out" to="joy"/>
    <rosparam command="load" file="$(arg remap_filepath)"/>
  </node>

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="cmd_vel" to="/cmd_vel"/>
    <!--remap from="cmd_vel" to="/cmd_vel_mux/input/teleop"/-->
  </node>

  <node pkg="cabot_ui" name="cabot_gamepad" type="cabot_gamepad.py" output="screen">
  </node>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard"
	output="screen">
    <remap from="cmd_vel" to="/cmd_vel"/>
  </node>
</launch>
