<!--
 Copyright (c) 2021  IBM Corporation

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<launch>
  <arg name="robot" default=""/>
  <arg name="rssi_offset" default=""/>

  <arg name="map_config_file"/>
  <arg name="beacons_topic" default="beacons"/>
  <arg name="with_odom_topic" default="false"/>

  <arg name="points2_topic" default="velodyne_points" />
  <arg name="imu_topic" default="imu/data" />
  <arg name="odom_topic" default="odom"/>
  <arg name="pressure_topic" default="pressure"/>

  <arg name="publish_current_rate" default="0"/>

  <!-- run multi_floor_manager -->
  <arg name="multi_floor_config_filename" default="$(find mf_localization)/configuration_files/multi_floor/multi_floor_manager_with_odom.yaml" if="$(arg with_odom_topic)"/>
  <arg name="multi_floor_config_filename" default="$(find mf_localization)/configuration_files/multi_floor/multi_floor_manager.yaml" unless="$(arg with_odom_topic)"/>

  <node pkg="mf_localization" type="multi_floor_manager.py" name="multi_floor_manager" output="screen">
    <rosparam command="load" file="$(arg map_config_file)"/>
    <rosparam command="load" file="$(arg multi_floor_config_filename)"/>
    <param name="configuration_directory" value="$(find mf_localization)/configuration_files/cartographer"/>
    <param name="configuration_file_prefix" value="cartographer_2d"/>
    <param name="robot" value="$(arg robot)" if="$(eval robot!='')"/>
    <param name="rssi_offset" value="$(arg rssi_offset)" if="$(eval rssi_offset!='')"/>
    <param name="publish_current_rate" value="$(arg publish_current_rate)"/>
    <param name="verbose" value="true" />
    <remap from="beacons" to="$(arg beacons_topic)"/>
    <remap from="points2" to="$(arg points2_topic)"/>
    <remap from="imu" to="$(arg imu_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="pressure" to="$(arg pressure_topic)"/>
  </node>
</launch>
