[Unit]
Description = Change Bluetooth Configuration

[Service]
ExecStart = /opt/cabot/tools/change_ble_config.sh
Restart = no
WorkingDirectory = /opt/cabot
Type = oneshot

[Install]
WantedBy = default.target
