[Unit]
Description = CaBot System
After = default.target docker.service

[Service]
ExecStart = /opt/cabot/launch.sh
KillSignal = SIGINT
Restart = no
WorkingDirectory = /opt/cabot
Type = simple

[Install]
WantedBy = default.target
