<!--
 Copyright (c) 2021  IBM Corporation

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->


<launch>
  <arg name="bag_filename"/>

  <arg name="save_filename" default="$(arg bag_filename).carto-converted.bag"/>
  <arg name="scan" default="velodyne_scan"/>
  <arg name="rate" default="1.0"/>
  <arg name="convert_points" default="false"/>
  <arg name="convert_imu" default="false"/>
  <arg name="compress" default="false"/>
  <arg name="start" default="0" />

  <param name="/use_sim_time" value="true" />

  <!-- /velodyne_packets to /velodyne_points -->
  <include file="$(find mf_localization_mapping)/launch/includes/VLP16_points_cloud_nodelet_cartographer.launch" if="$(arg convert_points)">
    <arg name="scan" value="$(arg scan)"/>
  </include>

  <!-- rename imu frame_id -->
  <node pkg="mf_localization" type="imu_frame_renamer.py" name="imu_frame_renamer" output="screen" if="$(arg convert_imu)">
    <remap from="imu_in" to="imu/data_temp"/>
    <remap from="imu_out" to="imu/data"/>
  </node>

  <!-- play -->
  <node pkg="rosbag" type="play" name="play" args="-r $(arg rate) -s $(arg start) --clock $(arg bag_filename)" output="screen" required="true">
    <remap from="imu/data" to="imu/data_temp" if="$(arg convert_imu)"/>
  </node>

  <!-- record -->
  <arg name="compress_arg" value="-j" if="$(arg compress)"/>
  <arg name="compress_arg" value="" unless="$(arg compress)"/>
  <node pkg="rosbag" type="record" name="record_required" args="/imu/data /velodyne_scan /velodyne_points /beacons /wireless/beacons /wireless/wifi $(arg compress_arg) -b 0 -O $(arg save_filename)" output="screen"/>
</launch>
