<?xml version="1.0"?>

<!--
 Copyright (c) 2021, 2023  IBM Corporation and Carnegie Mellon University

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
-->

<launch>
    <!-- start sensor-->
    <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"-->
    <!--/include-->

　　<node pkg="tf2_ros" exec="static_transform_publisher" name="stp_velodyne_laser" args="0 0 0 0 0 0 velodyne horizontal_laser_link 10" />

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" exec="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">

        <remap from="cloud_in" to="/velodyne_points"/>
        <remap from="scan" to="/converted_scan"/>
        <param name='target_frame' value='horizontal_laser_link'/> <!-- Leave disabled to output scan in pointcloud frame -->
        <param name='transform_tolerance' value='0.01'/>
        <!-- param name='min_height' value='-1.0'/-->
        <!-- param name='max_height' value='1.0'/-->

        <param name='angle_min' value='-1.5708'/>      <!-- -M_PI/2 -->
        <param name='angle_max' value='1.5708'/>       <!-- M_PI/2 -->
        <param name='angle_increment' value='0.0087'/> <!-- M_PI/360.0 -->
        <param name='scan_time' value='0.1'/>
        <param name='range_min' value='0.0'/>
        <param name='range_max' value='200'/>
        <param name='use_inf' value='true'/>

        <!--
        # Concurrency level, affects number of pointclouds queued for processing and number of threads used
        # 0 : Detect number of cores
        # 1 : Single threaded
        # 2->inf : Parallelism level
        -->
        <param name='concurrency_level' value='0'/>

    </node>

</launch>
